# Root .gitignore
node_modules/
.env
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode/
.idea/

# Client specific
/client/node_modules


# Server specific
/server/node_modules
/server/.env
